<%- include("header") -%>

<div class="box" id="heading">

  <h1>About Us</h1>
  <hr>
  <p>I am Suraj Jaiswal Working on ToDo List app As of now which is made using various trending technolgies.</p>

</div>

<%- include("footer") -%>
